body {
    background: #E6E6E6;
    color: black;

    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

input.orfo {
    color: black;
}

label.normal_words {
    color: black;

}

label.disastrous {
    color: red;
}

label.properly {
    color: green;
}

label.normal {
    color: black;
}


#task-container {
    align-content: center;
}

#results {
    align-content: center;
}

div {
    width: 400px;
    height: 100px;
}

div.button {
    margin-top: 30px;

}

.parent {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    background: #FFFFFF;
}
