@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');
body {
    background: #E6E6E6;
    color: #666666;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 1% 5%;
}
.child {
    flex-basis: 100%;
}
label {
    outline:none
}

input.orfo {
    height: 15px;
}

label.disastrous {
    color: red;
}

label.properly {
    color: green;
}

#task-container {   
    line-height: 35px;
    font-size: 150%;
    line-height: 200%;  
}

#results {
    display: flex;
    flex-direction: column;
    font-size: 150%;
    line-height: 200%; 
}


input {
    font-family: 'Raleway', sans-serif;
    border: none;
    background: #FFFFFF;
    font-weight: 400;
    outline: none;
    font-size: 100%;
}
#button {
    background: #FFFFFF;
    border: none;
    font-size: 150%;
}

#icon {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    margin-right: 20px;
    color: #7cc576;
}

#greetingOrWishes {
    line-height: 35px;
    font-size: 150%;
    line-height: 200%;
}

hr {
    color: #E6E5CF;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 2000px;
}
#footer {
    display: flex;
    align-items: center;
    font-size: 120%;
}

#user_results {
    margin-bottom: 20px;
}
