body {
    background: #E6E6E6;
    color: #666666;
    display: flex;
    flex-wrap: wrap;
}
.child {
    flex-basis: 100%;
}

input.orfo {
    height: 15px;
}

label.disastrous {
    color: red;
}

label.properly {
    color: green;
}

#task-container {
    align-content: center;
    height: 75px;
}

#results {
    display: flex;
    flex-direction: column; 
}

div {
    width: 400px;
    height: 100px;
}

input {
    border: none;
    background: #FFFFFF;
}
#button {
    background: #FFFFFF;
    border: none;
}
.button {
    margin-top: 30px;
}

#icon {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    margin-right: 20px;
    color: #7cc576;
}
