@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');
body {
    background: #E6E6E6;
    color: #666666;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.child {
    flex-basis: 100%;
}
label {
    outline:none
}

input.orfo {
    height: 15px;
}

label.disastrous {
    color: red;
}

label.properly {
    color: green;
}

#task-container {
    align-content: center;
    height: 75px;
}

#results {
    display: flex;
    flex-direction: column; 
}

div {
    width: 400px;
    height: 100px;
}

input {
    font-family: 'Raleway', sans-serif;
    border: none;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    outline:none
}
#button {
    background: #FFFFFF;
    border: none;
}

#icon {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    margin-right: 20px;
    color: #7cc576;
}

#task-container {
    line-height: 35px;
}